{% extends 'base.html'  %}
<<h1>Home</h1>
{% block head %}
<title>Michael Opebiyi</title>

{% endblock %}

{% block body %}
<div id="content">
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
      <h1 class="display-4">Michael Opebiyi</h1>
      <p class="lead">Welcome to my digital portfolio. You can find out more about me
        and see the things I have been working on - my journey as a software developer.
      </p>
    </div>
  </div>

            <div class="line"></div>

        </div>

{% endblock %}
